<%= content_for :header do %>

	<div class="header-pic-container">

	</div>
		<%= image_tag current_user.profile_pic_url, id: 'header-left', :class => "mobile" %>
		<div class="main-logo text">Add Options</div>
<% end %>

<div id="content-container" class="generic">
	<div id="services">
		<% @services.each do |service| %>
			<% if !service.available %>
				<div class="service unavailable">
					<div class="service-overlay">
						<div class="service-text">COMING SOON</div>
					</div>
					<%= image_tag service.image, :class => "service-image" %>
				</div>
			<% else %>
				<div class="service ">
					<%= link_to service.event_url(@event_id) do %>
						<%= image_tag service.image, :class => "service-image" %>
					<% end %>
				</div>
			<% end %>
		<% end %>

	</div>


</div>