<%= content_for :header do %>
  <div class="header-pic-container">
    <div id="header-right-pic" class="done submit-options btn blue-btn">Done</div>
  </div>
  <%= link_to :back do %>
    <div class="mobile desk-text" id="back-link">Back</div>
  <% end %>
    <div class="main-logo text mobile">Select Restaurants</div>
    <div id="header-right" class="no-mobile">SELECT RESTAURANTS</div>
<% end %>

<%= form_tag choices_path(event_id: @event_id), id: 'options-form' do %>
  <%= hidden_field_tag :image_url_list, nil, id: "image-url-list" %>
  <%= hidden_field_tag :title_list, nil, id: "title-list" %>
  <%= hidden_field_tag :info_list, nil, id: "info-list" %>
  <%= hidden_field_tag :id_list, nil, id: "id-list" %>
<% end %>

<div class="generic" id="content-container">
  <div class="service-header full-white-block">
    <div class="service-tabs">
      <div class="browse service-tab active">Browse</div>
      <div class="chosen service-tab">Selected</div>
    </div>
  </div>
	<div id="service-search-container">
		<%= image_tag 'arrowblue.svg', :class => "search-arrow location-search" %>
		<%= image_tag 'arrowblue.svg', :class => "search-arrow name-search" %>
		<%= form_tag opentable_search_path, remote: true, id: "service-search-form" do %>
			<%= text_field_tag :location, nil, placeholder: "Search by city or zipcode", :class => "service-search-field" %>
			<%= submit_tag "Search", id: "submit-service-search", :class => "btn blue-btn hidden" %>
		<% end %>
		<%= text_field_tag :name, nil, placeholder: "Filter your results by name", :class => "service-search-field", id:  "service-search-name" %>
	</div>

	<div class='service-options full-white-block choosable'>
		<% @options.each do |option| %>
			<div class="option mobile-text <%= "o-#{option.opentable_id}" %>" id='<%= "o-#{option.opentable_id}" %>'>
				<div class="option-overlay"></div>
				<%= image_tag Opentable.image_for(option), :class => "option-pic" %>
				<%= image_tag 'unselected.svg', :class => "option-check unselected" %>
				<%= image_tag 'selected.svg', :class => "option-check" %>
				<div class="option-title bold"><%= option.name %></div>
				<div class="option-info"><%= option.shortened_address %></div>
				<div class="star-container">
					<% option.rating.round.times do %>
						<%= image_tag 'stargreen.svg', :class => "star" %> 
					<% end %>
					<% (5 - option.rating.round).times do %>
						<%= image_tag 'stargrey.svg', :class => "star" %> 
					<% end %>
				</div>
				<div class="option-price">
					<% option.pricing.times do %>
						$
					<% end %>
				</div>

				<div class="option-id hidden"><%= option.opentable_id %></div>
			</div>
		<% end %>
	</div>

	<div class="service-options full-white-block selected-options hidden">
	</div>
	<div class="bottom-btn-container done hidden">
		<div class="btn blue-btn submit-options">Done</div>
	</div>
</div>
