<%= content_for :header do %>
  <%= render partial: '/shared/header_pic_container' %>
<% end %>

<div id="content-container" class="welcome-dashboard generic">
  <div>
    <h1>Your Profile</h3>

    <%= form_for :profile, url: profile_path, method: :put do |f| %>
      <dl>
        <dt>Your WePay access token:</dt>
        <dd>
          <%= @user.payment_access_token %>
          <% unless @user.has_valid_payment_access_token? %>
            <br/>
            <%= f.check_box :regenerate_payment_access_token %>
            <%= f.label :regenerate_payment_access_token %>
          <% end %>
        </dd>

        <dt>WePay Account Status:</dt>
        <dd>
          <%= @user.payment_user_account["state"] %>
          <% if @user.payment_user_account["state"] == "pending" %>
            <%= f.check_box :resend_payment_user_registration_confirmation_email %>
            <%= f.label :resend_payment_user_registration_confirmation_email %>
          <% end %>
        </dd>
      </dl>
      <%= f.submit %>
    <% end %>

    <h3>Credit Cards</h3>
    <%= link_to "Add a new Credit Card", new_profile_credit_card_path %>
    <% if @user.credit_cards.any? %>
      <table>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th></th>
        </tr>
      <% @user.credit_cards.each do |cc| %>
        <tr>
          <td><%= cc.nickname %></td>
          <td><%= cc.status %></td>
          <td><%= link_to "Delete", profile_credit_card_path(cc), method: :delete %></td>
        </tr>
      <% end %>
      </table>
    <% end %>

  </div>
</div>
