<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div>
      <p>User: <%= @user.name %><br><br>
      	Time Range: <%= @time_range %><br><br>
      	Email: <%= @user.email %><br><br>
      	Url To Reserve: <%= link_to @url, @url %><br><br>
        Restaraunt Url: <%= link_to @event.processing_opentable_url, @event.processing_opentable_url  %><br><br>

        <% if @cancel_url %>
        Url to cancel previous reservation: <%= link_to @cancl_url, @cancel_url %>
        <% end %>
      </p>

     	<p>
     		Additional User/Event Info:<br><br>
        User Data<br>
     		<%= @user.attributes %><br><br>
        Event Data<br>
     		<%= @event.attributes %><br><br>
     	</p>
    </div>
  </body>
</html>
