<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div>
      <p><%= @poll.user.name %> voted on your poll:<br>
        <% @poll.questions.each do |question, choices| %>
          <%= question %><br>
          <%= choices.each do |choice| %>
            <% if choice.yes != nil %>   
              <%= choice.value %>: <%= "#{choice.yes ? 'yes' : 'no' }" %><br>
            <% else %>
              <%= choice.value %>: no vote<br>
            <% end %>
          <% end %><br>
        <% end %>
      </p>
    </div>
  </body>
</html>
