<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div>
      <% if @poll.choices.first.question != nil %>
        <p><%= @poll.user.name %> voted on your poll:<br>
          <% @poll.choices.each do |choice| %>
            <% if choice.yes != nil %>
              <%= choice.value %>: <%= "#{choice.yes ? 'yes' : 'no' }" %><br>
            <% else %>
              <%= choice.value %>: no vote<br>
            <% end %>
          <% end %>
        </p>
      <% else %>
        <p><%= @poll.user.name %> voted on your poll:<br>
          <% @poll.questions.each do |question, choices| %>
            <%= question %><br>
            <% choices.each do |choice| %>
              <% if choice.yes != nil %>   
                <%= choice.value %>: <%= "#{choice.yes ? 'yes' : 'no' }" %><br>
              <% else %>
                <%= choice.value %>: no vote<br>
              <% end %>
            <% end %><br>
          <% end %>
        </p>
      <% end %>
    </div>
  </body>
</html>


