<%= content_for :header do %>
  <div class="main-logo text mobile"></div>
  <div class="text mobile whos-going">REVIEW POLL</div>
    <div class="desk-text-header whos-going">REVIEW POLL</div>
<% end %>
<div id="content-container" class="generic">
  <% if @tutorial %>
    <%= render partial: "tutorial" %>
  <% end %>
  <div class="full-white-block event-field" id="event-name">
    <%= @event.name %><br>
    <span class="sub-text"><%= @event.time_info %></span>
    <div class="event-field" id="event-comment">
      <%= @event.comment %>
    </div>
  </div>

  <% if !@poll.confirmed_attending %>
    <div id="rsvp-container">
      <%= link_to rsvp_path(@poll), remote: true do %>
        <div class="btn green-btn rsvp-btn">
          RSVP to start voting
        </div>
      <% end %>
    </div>
  <% end %>
  <div id="choices">
    <% @choices.each do |choice| %>
      <div class="choice side-margined <%= 'grey-back' if choice.is_processing || choice.is_current %> ">
        <%= image_tag choice.image_url, :class => "choice-pic" %>
        <div class="choice-value"><%= choice.value %></div>
        
        <div class="choice-time grey"><%= choice.restaurant.shortened_address %></div>
        <% if choice.restaurant %>
          <div class="star-container">
            <% choice.restaurant.rating.round.times do %>
              <%= image_tag 'stargreen.svg', :class => "star" %>
            <% end %>
            <% (5 - choice.restaurant.rating.round).times do %>
              <%= image_tag 'stargrey.svg', :class => "star" %>
            <% end %>
          </div>
          <div class="option-price">
            <% choice.restaurant.pricing.times do %>
              $
            <% end %>
          </div>
        <% end %>
        <div class="choice-status">
          <% if choice.is_processing %>
            <span class="grey">New Reservation Processing</span>
          <% end %>
          <% if choice.is_current %>
            <span class="green">Current Reservation</span>
          <% end %>
        </div>
        <div class="choice-vote-container <%= choice.yes ? 'yes' : '' %>">
          <%= link_to vote_path(choice.id, answer: "yes"), remote: true, :class => "vote-link upvote-link" do %>
            <%= image_tag 'upvotegrey.svg', :class => "choice-vote svg #{'chosen' if choice.yes}" %>
          <% end %>
          <%= link_to vote_path(choice.id, answer: "no"), remote: true, :class => "vote-link downvote-link" do %>
            <%= image_tag 'downvotegrey.svg', :class => "choice-vote svg #{'chosen' if choice.yes == false}" %>
          <% end %>
          <span class="choice-score"><%= choice.yes_count - choice.no_count %></span>
        </div>
      </div>
    <% end %>
  </div>

  <div id="poll-finished" class="hidden main-text">
    Thanks for answering! We’ll email you notifications as the poll updates.<br><br>
    <% if current_user %>
      <br>
      <%= link_to dashboard_path do %>
        <div class="btn blue-btn" id="go-dashboard">Back to Dashboard</div>
      <% end %>
    <% end %>
  </div>
  
  <div class="bottom-btn-container">
    <%= link_to decide_vote_path(@poll), remote: true do %>
      <div id="finish-poll-take" class="btn blue-btn pull-bottom-btn">
        Done
      </div>
    <% end %>
  </div>
</div>


<script>
  $('img.svg').each(function(){
    var $img = $(this);
    var imgID = $img.attr('id');
    var imgClass = $img.attr('class');
    var imgURL = $img.attr('src');
    $.get(imgURL, function(data) {
        var $svg = $(data).find('svg');
        if(typeof imgID !== 'undefined') {
            $svg = $svg.attr('id', imgID);
        }
        if(typeof imgClass !== 'undefined') {
            $svg = $svg.attr('class', imgClass+' replaced-svg');
        }
        $svg = $svg.removeAttr('xmlns:a');
        $img.replaceWith($svg);
    }, 'xml');
  });
</script>
