<%= content_for :header do %>
	<div class="header-pic-container">
		<%= image_tag current_user.profile_pic_url, id: 'header-right-pic' %>
			<div class="profile-tooltip">
				<%= current_user.name %><br>
				<%= link_to logout_path, class: "logout" do %>Logout<% end %></div>
			<div class="tail"></div>
	</div>
		<div class="hidden desk-text" id="cancel-form">Cancel</div>
		<%= image_tag current_user.profile_pic_url, id: 'header-left', :class => "mobile" %>
		<div class="main-logo text mobile">INSTAGATOR</div>
<% end %>



	<div id="content-container" class="welcome-dashboard generic">
		<% if @events.empty? %>
		<div id="welcome-text-container" class="full-white-block">
			<%= image_tag 'instagatoricon.svg', id: "welcome-icon" %>
			<div id="welcome-text" class="medium-text">
				Welcome to Instagator, the easiest way to plan events.
			</div>
		</div>
		<div id="create-poll" class="btn-rnd turq-btn">
			Get Started
		</div>

<% else %>
		<div class="service-header full-white-block">
			<div class="service-tabs">
				<div class="ongoing-tab service-tab active">Ongoing Polls</div>
				<div class="reserved-tab service-tab">Reservations</div>
			</div>
		</div>
		<% @events.each do |event| %>
			<%= link_to event.vote_url(current_user) do %>
				<% if event.owned_by?(current_user) %>
					<div class="event <%= event.html_classes(current_user) %>">
						<div class="event-line-text bold event-name <%= 'turq' if event.voted_on_by?(current_user) %>">
							<%= event.name %>
						</div>
						<div class="event-line-text">
							<%= event.time_info %>
						</div>
						<% if @event.last_log %>
							<%= @event.last_log %>
						<% else %>
							<div class="event-line-text bottom-line">
								<% if event.ongoing? %>
									<% if event.last_log %>
										<%= event.last_log %>
									<% else %>
										<span class="red"><%= event.time_left %> hours</span> to expiration
									<% end %>
								<% else %>
									<span class="green"><%= event.vote_count %> voters </span>
								<% end %>
							</div>
						<% end %>
						<div class="event-voters">
							<% if event.current_choice %>
								<span class="grey"><%= event.vote_count %> voters </span>
							<% else %>
								<span class="red"><%= event.vote_count %>/<%= event.polls.count %> Responded</span>
							<% end %>
						</div>
					</div>
				<% else %>
					<div class="event <%= event.html_classes(current_user) %>">
						<div class="event-line-text event-name">
							<span class="bold"><%= event.user.name %> invited you to</span>
						</div>
						<div class="event-line-text bold <%= 'green' if event.voted_on_by?(current_user) %>">
							<%= event.name %>
						</div>
						<div class="event-line-text">
							<%= event.time_info %>
						</div>
						<div class="event-line-text bottom-line">
							<% if event.ongoing? %>
								<% if event.last_log %>
									<%= event.last_log %>
								<% else %>
									<span class="red"><%= event.time_left %> hours</span> to expiration
								<% end %>
							<% end %>
						</div>
						<div class="event-voters">
							<% if event.voted_on_by?(current_user) %>
								<span class="green">You Voted</span>	
							<% end %>
						</div>
					</div>
				<% end %>					
			<% end %>
		<% end %>
		<div id="create-poll" class="btn-rnd turq-btn pull-down">
			Create Poll
		</div>
	<% end %>
		
		<%= form_tag polls_path, id: "emails-form" do %>
			<%= hidden_field_tag :email_list, nil, id: "email-list", value: "#{current_user.email}, " %>
		<% end %>

		<div id="poll-creator" class="hidden">
			<div class="full-white-block">
				<%= text_field_tag :email, nil, id: "invite-email", placeholder: "Add an invitee's email.." %>
			</div>
			<div class="btn blue-btn" id="add-email-btn">
				Add
			</div>

			<div id="invitees-container" class="full-white-block">
				<div class="invitees">
					<div class="invitee"><%= current_user.email %></div>
				</div>
			</div>

			<div class="submit-emails hidden btn blue-btn">Continue</div>
		</div>
</div>


