<%= content_for :header do %>
  <div class="header-pic-container">
    <%= image_tag current_user.profile_pic_url, id: 'header-right-pic' %>
    <div class="profile-tooltip">
      <%= link_to edit_user_path(current_user), :class => "white" do %>
      	<%= current_user.name %><br>
      <% end %>
      <%= link_to logout_path, class: "logout" do %>Logout<% end %>
    </div>
    <div class="tail"></div>
  </div>
    <div class="hidden desk-text" id="cancel-form">Cancel</div>
    <%= image_tag current_user.profile_pic_url, id: 'header-left', :class => "mobile" %>
    <div class="main-logo text mobile main-header-text">dinnerPoll</div>
    <div class="text mobile hidden whos-going">POLL INFO</div>
    <div class="desk-text-header whos-going hidden">POLL INFO</div>
    <%= link_to logout_path do %>
    	<div class="mobile-left mobile">logout</div>
    <% end %>
<% end %>


<div id="content-container" class="welcome-dashboard generic">
	<% if @tutorial %>
		<div id="welcome-text-container" class="full-white-block tutorial">
			<%= image_tag 'instagatoricon.svg', id: "welcome-icon" %>
			<div id="welcome-text" class="medium-text">
				Welcome to dinnerPoll, the easiest way to plan dinners.
			</div>
		</div>
			<div id="create-poll" class="btn-rnd blue-btn pull-down tutorial">
				Create Poll
			</div>
	<% else %>
		<div id="events">
			<%= render partial: 'events/index' %>
		</div>
		<div class="bottom-btn-container">
			<div id="create-poll" class="btn-rnd blue-btn pull-down">
				Create Poll
			</div>
		</div>
	<% end %>
	<%= render partial: 'events/new' %>
</div>

<%= render partial: 'events/typepicker' %>


<% if current_user.activation != "activated" %>	
	<%= render partial: 'activation' %>
<% end %>

<% if @show_poll_picker %>
	<div id="show-poll-picker"></div>
<% end %>


