<%= content_for :header do %>
    <%= render partial: '/shared/header_pic_container' %>
    <div class="hidden desk-text" id="cancel-form">Cancel</div>
    <%= image_tag current_user.profile_pic_url, id: 'header-left', :class => "mobile" %>
    <div class="main-logo text mobile main-header-text">dinnerPoll</div>
    <div class="text mobile hidden whos-going">POLL INFO</div>
    <div class="desk-text-header whos-going hidden">POLL INFO</div>
<% end %>


<div id="content-container" class="welcome-dashboard generic">
	<% if @tutorial %>
		<div id="welcome-text-container" class="full-white-block">
			<%= image_tag 'instagatoricon.svg', id: "welcome-icon" %>
			<div id="welcome-text" class="medium-text">
				Welcome to dinnerPoll, the easiest way to plan dinners.
			</div>
		</div>
			<div id="create-poll" class="btn-rnd blue-btn pull-down">
				Create Poll
			</div>
	<% else %>
		<div id="events">
			<%= render partial: 'events/index' %>
		</div>
		<div class="bottom-btn-container">
			<div id="create-poll" class="btn-rnd blue-btn pull-down">
				Create Poll
			</div>
		</div>
	<% end %>
	<%= render partial: 'events/new' %>
</div>


<% if current_user.activation != "activated" %>
	
	<%= render partial: 'activation' %>

<% end %>


