<% @events.each do |event| %>
  <%= link_to event.vote_url(current_user) do %>
    <% if event.owned_by?(current_user) %>
      <div class="event <%= event.html_classes(current_user) %>">
        <div class="event-profile-pic-container">
          <%= image_tag event.user.profile_pic_url, :class => "event-profile-pic" %>
          <div class="event-profile-pic-overlay"></div>
          <div class="event-profile-initials">
            <%= event.user.name.split(" ").map {|word| word[0]}.join("") %>
          </div>
        </div>
        <div class="event-line-text bold event-name <%= 'turq' if event.voted_on_by?(current_user) %>">
          <%= event.name %>
        </div>
        <div class="event-line-text">
          <%= event.time_info %>
        </div>
        <% if event.last_log %>
          <%= event.last_log %>
        <% else %>
          <div class="event-line-text bottom-line">
            <% if event.current_choice %>
              <span class="grey"><%= event.rsvps %> voters </span>
            <% else %>
              <span class="green"><%= event.response_count %> Response(s)</span><span class="red poll-ended"><% if event.locked %> Poll Ended<% end %></span>
            <% end %>
            </div>
        <% end %>
        <%= image_tag "dasharrow.svg", :class => "event-arrow" %>
        <%= image_tag event.service_pic, :class => "event-service-icon" %>
      </div>
    <% else %>
      <div class="event <%= event.html_classes(current_user) %>">
        <div class="event-profile-pic-container">
          <%= image_tag event.user.profile_pic_url, :class => "event-profile-pic" %>
          <div class="event-profile-pic-overlay"></div>
          <div class="event-profile-initials">
            <%= event.user.name.split(" ").map {|word| word[0]}.join("") %>
          </div>
        </div>
        <div class="event-line-text event-name">
          <span class="bold"><%= event.user.name %> invited you to</span>
        </div>
        <div class="event-line-text bold <%= 'green' if event.voted_on_by?(current_user) %>">
          <%= event.name %>
        </div>
        <div class="event-line-text">
          <%= event.time_info %>
        </div>
        <div class="event-line-text bottom-line">
          <% if event.voted_on_by?(current_user) %>
            <span class="green">You Voted</span>
          <% end %>
        </div>
        <%= image_tag "arrowcripplegreen.svg", :class => "event-arrow" %>
      </div>
    <% end %>
  <% end %>
<% end %>
