<%= content_for :header do %>
	<div class="header-pic-container">
		<%= image_tag current_user.profile_pic_url, id: 'header-right-pic' %>
			<div class="profile-tooltip">
				<%= current_user.name %><br>
				<%= link_to logout_path, class: "logout" do %>Logout<% end %></div>
			<div class="tail"></div>
	</div>
		<div class="mobile desk-text" id="cancel-form">Cancel</div>
		<div class="main-logo text mobile">Booking Info</div>
<% end %>


<div class="generic" id="content-container">
	<div id="poll-creator">
			<%= form_for @event do |f| %>
				<%= f.text_field :name, placeholder: "Poll Name", :class => "poll-field" %>
				<% if !@browser.mobile? %>
					<div id="datepair">
						<%= f.text_field :start_date, :class => "pick-date poll-field", placeholder: "Reservation Date" %>
						<%= f.text_field :start_time, :class => "pick-time poll-field", placeholder: "Earliest Time" %>
						<%= f.text_field :end_time, :class => "pick-time poll-field", placeholder: "Latest Time" %>
						<script>
						  $(document).ready(function(){
						    $('#datepair .pick-time').timepicker({
						        'showDuration': true,
						        'timeFormat': 'g:ia',
						        'scrollDefault': 'now'
						    });
						    $('#datepair .pick-date').datepicker({
						        'format': 'yyyy-m-d',
						        'autoclose': true
						    });
						  })
						</script>
					</div>
				<% else %>
					<%= f.text_field :start_date, :class => "poll-field", placeholder: "Start Date" %>
					<%= f.text_field :start_time, :class => "poll-field", placeholder: "Time Range Start" %>
					<%= f.text_field :end_time, :class => "poll-field", placeholder: "Time Range End" %>
				<% end %>

					<%= f.select :threshold, options_for_select((2..16).to_a), prompt: "Minimum Party Size", :class => "poll-field" %>
				<%= f.submit "Continue", id: "submit-poll", :class => "btn blue-btn" %>
			<% end %>
		</div>
</div>
