<%= content_for :header do %>
	<div class="header-pic-container">
		<%= image_tag current_user.profile_pic_url, id: 'header-right-pic' %>
			<div class="profile-tooltip">
				<%= current_user.name %><br>
				<%= link_to logout_path, class: "logout" do %>Logout<% end %></div>
			<div class="tail"></div>
	</div>
		<div class="mobile desk-text" id="cancel-form">Cancel</div>
		<div class="main-logo text mobile">Booking Info</div>
<% end %>


<div class="generic" id="content-container">
	<div id="poll-creator">
			<%= form_for @event do |f| %>
				<%= f.text_field :name, placeholder: "Poll Name", :class => "poll-field" %>
				<div id="datepair">
					<%= f.text_field :start_date, :class => "pick-date poll-field", placeholder: "Reservation Date" %>
					<%= f.text_field :start_time, :class => "pick-time poll-field hidden", placeholder: "Earliest Time" %>
					<%= f.text_field :end_time, :class => "pick-time poll-field hidden", placeholder: "Latest Time" %>
					<div id="event-timepicker">
						<div id="timepicker-header">What time range should we try to book in?</div>
						<div id="slider-range"></div>
						<div id="time-range"></div>
					</div>
				</div>
				<%= f.select :threshold, options_for_select((2..16).to_a), prompt: "Minimum Party Size", :class => "poll-field" %>
			<%= f.submit "Continue", id: "submit-poll", :class => "btn blue-btn" %>
		<% end %>
		</div>
</div>
<script>
	$("#slider-range").slider({
      range: true,
      min: 0,
      max: 1439,
      values: [540, 1020],
      slide: slideTime,
      step: 30 <% if @event.start_time %>, 
      values: <%= @event.time_range_values %>
      <% end %>
  });
  function slideTime(event, ui){
	    var val0 = $("#slider-range").slider("values", 0),
	        val1 = $("#slider-range").slider("values", 1),
	        minutes0 = parseInt(val0 % 60, 10),
	        hours0 = parseInt(val0 / 60 % 24, 10),
	        minutes1 = parseInt(val1 % 60, 10),
	        hours1 = parseInt(val1 / 60 % 24, 10);
	    startTime = getTime(hours0, minutes0);
	    endTime = getTime(hours1, minutes1);
	    $("#time-range").text(startTime + ' - ' + endTime);
	    $('#event_start_time').val(startTime)
	    $('#event_end_time').val(endTime)
	    console.log($('#event_start_time').val())

	}
	function getTime(hours, minutes) {
    var time = null;
    minutes = minutes + "";
    if (hours < 12) {
        time = "AM";
    }
    else {
        time = "PM";
    }
    if (hours == 0) {
        hours = 12;
    }
    if (hours > 12) {
        hours = hours - 12;
    }
    if (minutes.length == 1) {
        minutes = "0" + minutes;
    }
    return hours + ":" + minutes + " " + time;
	}
	slideTime();
	$('.pick-date').datepicker({
      'format': 'yyyy-m-d',
      'autoclose': true
  });
</script>