<%= content_for :header do %>
	<div class="header-pic-container">
<!-- 		<div id="header-right-pic" class="submit-emails hidden">Next</div> -->
	</div>
		<div class="main-logo text">Who's Going?</div>
<!-- 		<div id="header-right" class="mobile submit-emails hidden">Next</div> -->
<% end %>

<%= form_tag polls_path, id: "emails-form" do %>
	<%= hidden_field_tag :email_list, nil, id: "email-list", value: "#{current_user.email}, " %>
<% end %>

<div class="generic" id="content-container">
	<div class="full-white-block">
		<%= text_field_tag :email, nil, id: "invite-email", placeholder: "Add an invitee's email.." %>
	</div>
	<div class="btn blue-btn" id="add-email-btn">
		Add
	</div>

	<div id="invitees-container" class="full-white-block">
		<div class="invitees">
			<% @event.polls.each do |poll| %>
				<div class="invitee real"><%= poll.email %></div>
			<% end %>
			<% if @event.polls.empty? %>
				<div class="invitee"><%= current_user.email %></div>
			<% end %>
		</div>
	</div>

	<div class="submit-emails hidden btn blue-btn">Continue</div>
</div>
