<%= content_for :header do %>
		<div class="main-logo text">Review Your Poll</div>
<% end %>

<div class="generic no-top" id="content-container">
	<div class="full-white-block event-field" id="event-name">
		<%= @event.name %><br>
		<span class="sub-text"><%= @event.time_info %></span>
		<div class="event-field" id="event-comment">
			<%= @event.comment %>
		</div>
	</div>
	<div class="full-white-block event-field" id="event-options">
		<% @choices.each do |choice| %>
			<div class="event-option">
					<%= image_tag choice.image_url , :class => "option-pic event-show" %>
					<div class="option-title bold event-show option-result"><%= choice.value %></div>
			</div>
		<% end %>
	</div>

	<div class="poll-url hidden">
		<%= "instagator2014.herokuapp.com" + @event.routing_url %>
	</div>

	<% if @event.status == "dormant" %>
		<%= link_to activate_path(@event), remote: true do %>
			<div class="btn activate-poll blue-btn" id="poll-status">
				Get Poll Url
			</div>
		<% end %>
	<% else %>
		<div class="poll-url">
			<%= "instagator2014.herokuapp.com" + @event.routing_url %>
		</div>
	<% end %>




</div>
