<%= content_for :header do %>
	<div class="header-pic-container">
		<%= link_to activate_path(@event) do %>
			<div id="header-right-pic" class="activate-poll">Activate</div>
		<% end %>
	</div>
		<div class="main-logo text">Your Poll</div>
		<%= link_to activate_path(@event) do %>
			<div id="header-right" class="acivate-poll mobile">Activate</div>
		<% end %>
<% end %>

<div class="generic" id="content-container">
	<div class="full-white-block event-field" id="event-name">
		<%= @event.name %><br>
		<span class="sub-text"><%= @event.start_time %></span>
	</div>
	<div class="grey-header">
		<%= @invitee_count %> Invitees
	</div>
	<div class="full-white-block event-field" id="invitee-list">
		<% @invitees.each_with_index do |invitee, i| %>
			<div class="pic-container">
				<div class="profile-tooltip"><%= invitee.email %></div>
				<div class="tail"></div>
				<%= image_tag invitee.avatar, :class => "invitee-pic" %>
			</div>
		<% end %>

	</div>
	<div class="grey-header">
		Description
	</div>
	<div class="full-white-block event-field" id="invitee-list">
		<%= @event.comment %>
	</div>
	<div class="grey-header">
		<%= @service.name %>
	</div>
	<div class="full-white-block event-field" id="event-options">
		<% @choices.each do |choice| %>
			<div class="event-option">
					<%= image_tag choice.image_url , :class => "option-pic event-show" %>
					<div class="option-title bold event-show option-result"><%= choice.value %></div>
			</div>
		<% end %>
	</div>
	<!-- <div class="grey-header">
		Other Options
	</div> -->
	<% if @event.status == "dormant" %>
		<%= link_to activate_path(@event) do %>
			<div class="btn activate-poll blue-btn" id="poll-status">
				Send Invites
			</div>
		<% end %>
	<% else %>
		<div class="btn blue-btn" id="poll-status">
			Invites Sent
		</div>
	<% end %>




</div>
