<%= content_for :header do %>
	<%= image_tag current_user.profile_pic_url, id: 'header-left', :class => "mobile" %>
	<div class="header-pic-container">
		<%= image_tag current_user.profile_pic_url, id: 'header-right-pic' %>
		<div class="profile-tooltip">Logout</div>
		<div class="tail"></div>
	</div>
	<div class="main-logo text">INSTAGATOR</div>
<% end %>

<div id="content-container" class="mobile-home app-store-bg">

	<div id="content-box" class="app-box">
		<div id="mobile-title" class="opaque">
			<%= image_tag 'Check.svg', :class => "check-title-img" %> Static!
		</div>

		<div id="title-info">
			Static Text?
		</div>

		<div id="app-store-btn-container" class="opaque">
			<%= image_tag 'appstore.svg', :class => "app-store" %>
		</div>
	</div>
	<div id="logout">
		Log Out
	</div>



</div>