<div id="content-container" class="s1">
	<%= content_for :header do %>

	<div class="header-pic-container">
		<%= image_tag 'cat.png', id: 'header-right-pic' %>
		<div class="profile-tooltip">Logout</div>
		<div class="tail"></div>
	</div>
		<%= image_tag 'cat.png', id: 'header-left', :class => "mobile" %>
		<div id="header-right" class="mobile">Static</div>
		<div class="main-logo text">INSTAGATOR</div>
	<% end %>

	<div id="content-box">

			<%= image_tag 'cat.png', id: 'profile-pic' %>

		<div class="box-content profile-box">
			<div class="content-row main-text profile-info">
				Dynamic Content
			</div>
			<div class="content-row medium-text profile-info">
				Static Content
			</div>

			<div class="content-row main-text bold light-gray" id="time-header">
				Dynamic Content
			</div>
			<div class="content-row medium-text light-gray" id="time">
				<div class="time"><%= image_tag 'clockicon.png', :class => "text-icon" %> April 29, 8pm-9pm</div>
			</div>
		</div>


			<div class="content-row image-row opaque">
				<div class="pic-container">
					<div class="profile-tooltip">John Doe</div>
					<div class="tail"></div>
					<%= image_tag 'cat.png', :class => 'small-profile-img good selected' %>
				</div>
				<div class="pic-container">
					<div class="profile-tooltip">John Doe</div>
					<div class="tail"></div>
					<%= image_tag 'cat.png', :class => 'small-profile-img good' %>
				</div>
				<div class="pic-container">
					<div class="profile-tooltip">John Doe</div>
					<div class="tail"></div>
					<%= image_tag 'cat.png', :class => 'small-profile-img good' %>
				</div>
				<div class="pic-container">
					<div class="profile-tooltip">John Doe</div>
					<div class="tail"></div>
					<%= image_tag 'cat.png', :class => 'small-profile-img good' %>
				</div>
				<div class="pic-container">
					<div class="profile-tooltip">John Doe</div>
					<div class="tail"></div>
					<%= image_tag 'cat.png', :class => 'small-profile-img bad' %>
				</div>
				<div class="pic-container">
					<div class="profile-tooltip">John Doe</div>
					<div class="tail"></div>
					<%= image_tag 'cat.png', :class => 'small-profile-img' %>
				</div>
				<div class="pic-container">
					<div class="profile-tooltip">John Doe</div>
					<div class="tail"></div>
					<%= image_tag 'cat.png', :class => 'small-profile-img' %>
				</div>
				<div class="pic-container">
					<div class="profile-tooltip">John Doe</div>
					<div class="tail"></div>
					<%= image_tag 'cat.png', :class => 'small-profile-img' %>
				</div>
				<div class="pic-container">
					<div class="profile-tooltip">John Doe</div>
					<div class="tail"></div>
					<%= image_tag 'cat.png', :class => 'small-profile-img' %>
				</div>
				<%= image_tag 'seemoremembersicon.svg', :class => 'small-profile-img see-more' %>
		
				<div class="pic-container hidden">
					<div class="profile-tooltip">John Doe</div>
					<div class="tail"></div>
					<%= image_tag 'cat.png', :class => 'small-profile-img' %>
				</div>
				<div class="pic-container hidden">
					<div class="profile-tooltip">John Doe</div>
					<div class="tail"></div>
					<%= image_tag 'cat.png', :class => 'small-profile-img' %>
				</div>
				<div class="pic-container hidden">
					<div class="profile-tooltip">John Doe</div>
					<div class="tail"></div>
					<%= image_tag 'cat.png', :class => 'small-profile-img' %>
				</div>
				<div class="pic-container hidden">
					<div class="profile-tooltip">John Doe</div>
					<div class="tail"></div>
					<%= image_tag 'cat.png', :class => 'small-profile-img' %>
				</div>
				<div class="pic-container hidden">
					<div class="profile-tooltip">John Doe</div>
					<div class="tail"></div>
					<%= image_tag 'cat.png', :class => 'small-profile-img' %>
				</div>
				<div class="pic-container hidden">
					<div class="profile-tooltip">John Doe</div>
					<div class="tail"></div>
					<%= image_tag 'cat.png', :class => 'small-profile-img' %>
				</div>
				<div class="pic-container hidden">
					<div class="profile-tooltip">John Doe</div>
					<div class="tail"></div>
					<%= image_tag 'cat.png', :class => 'small-profile-img' %>
				</div>
				<div class="pic-container hidden">
					<div class="profile-tooltip">John Doe</div>
					<div class="tail"></div>
					<%= image_tag 'cat.png', :class => 'small-profile-img' %>
				</div>
				<div class="pic-container hidden">
					<div class="profile-tooltip">John Doe</div>
					<div class="tail"></div>
					<%= image_tag 'cat.png', :class => 'small-profile-img' %>
				</div>
				<div class="pic-container hidden">
					<%= image_tag 'minus.svg', :class => 'small-profile-img see-less' %>
				</div>
					
				

			</div>

		<div class="box-content">
			<div class="content-row description sub-text light-gray">
				Dynamic text is simply dummy text of the printing text. This is just random filler text to fill up space blah blah blah more dummy text here's a period. <span class="read-more">... Read More</span><span class="more-text hidden">Here's some more text to show. Lorem ipsum dolor lorem more random words in this paragraph have another period. <span class="hide-text">Hide</span></span>
			</div>
		</div>

			<div class="content-row empty opaque"></div>
	<div class="content-row box-actions">
		<div id="red-circle" class="box-action">Static</div>
		<div id="green-circle" class="box-action">Static</div>
	</div>

	</div>
</div>
