<div id="content-container" class="default-img landing">
	<%= content_for :header do %>
		<%= image_tag 'back.svg', id: 'header-left', :class => "mobile back-icon hidden" %>
		<div class="mobile hidden" id="header-right">Sign Up</div>
	<% end %>


	<div id="sign-up-box">
		
		<div id="sign-up-circle">
			<%= image_tag 'User_icon.png', id: "user-icon" %>
		</div>

		<div id="sign-up-content">
			<%= link_to '/auth/facebook' do %>
				<div class="btn form-row" id="facebook">
					Connect with Facebook
				</div>
			<% end %>

			<div class="form-row" id="or">
				or
			</div>

			<div class="form-row" id="btn-container">
				<div class="btn form-actions active" id="sign-up">
					Sign Up
				</div>

				<div class="btn form-actions" id="log-in">
					Log In
				</div>

				<div class="no-mobile" id="btn-line"></div>
			</div>

			<%= form_tag '/users', id: 'user-form' do %>
				<div class="user-field add-photo mobile">
					<%= image_tag 'plusgreen.svg', :class => "plus-icon" %><br><br>
					Add Photo
				</div>
				<div class="user-form-row">
					<%= text_field_tag :name, nil, :class => "user-field", placeholder: "Full Name" %>
					<%= image_tag "Check.svg", :class => "check-icon" %>
				</div>
				<div class="user-form-row">
					<%= text_field_tag :email, nil, :class => "user-field", placeholder: "Email Address" %>
					<%= image_tag "Check.svg", :class => "check-icon" %>
				</div>
				<div class="user-form-row">
					<%= password_field_tag :password, nil, :class => "user-field", placeholder: "Password" %>
					<%= image_tag "Check.svg", :class => "check-icon" %>
				</div>
				<%= submit_tag "Static Text", id: "submit-user", :class => "btn" %>
			<% end %>
		</div>
		<div class="mobile landing-text main-text">
			This is a static text field here.
		</div>
	</div>
</div>
