<div class="results-bg s1"> </div>
<div id="content-container">
  <%= content_for :header do %>
    <% if current_user %>
      <%= render partial: '/shared/header_pic_container' %>
      <%= image_tag current_user.profile_pic_url, id: 'header-left', :class => "mobile" %>
    <% end %>
    <div class="main-logo text mobile">dinnerPoll</div>
  <% end %>

  <div id="content-box">
    <div class="profile-pic-container">
      <%= image_tag @event.user.profile_pic_url, id: 'profile-pic', :class => 'pp-centered' %>
    </div>
    <div class="box-content profile-box">
      <div class="content-row poll-username profile-info">
        <%= @event.user.name %>
      </div>
      <div class="content-row medium-text profile-info">
        Invited you to take a poll
      </div>
    </div>

    <div class="content-row main-text bold" id="time-header">
        <%= @event.name %>
      </div>
      <div class="content-row medium-text" id="time">
        <div class="time"><%= image_tag 'clockicon.png', :class => "text-icon" %><%= @event.time_info %></div>
      </div>
      <div class="content-row venue-options">
        <div class="row-header">Venue Options</div>
        <% @event.choices.each do |choice| %>
          <div class="poll-choice">
            <%= choice.value %>
          </div>
        <% end %>

      </div>

      <% if !@polls.empty? %>
        <div class="content-row image-row opaque">
          <div class="row-header">Invitees</div>
          <% @polls.each do |taker| %>
            <div class="pic-container">
              <div class="profile-tooltip"><%= taker.user.name %></div>
              <div class="tail"></div>
              <%= image_tag taker.avatar, :class => "small-profile-img #{'good' if taker.answered}" %>
            </div>
          <% end %>
          <% if @event.polls.length > 9 %>
            <%= image_tag 'seemoremembersicon.svg', :class => 'small-profile-img see-more' %>
            <% @poll.each do |taker| %>
              <div class="pic-container">
                <div class="profile-tooltip"><%= taker.user.name %></div>
                <div class="tail"></div>
                <%= image_tag taker.avatar, :class => "small-profile-img #{'good' if taker.answered}" %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>

    <% if @fb_connected %>
      <div class="box-content">
        <div class="content-row description sub-text">
          <%= description(@poll) %>
        </div>
      </div>
    <% end %>

    <% if @fb_connected %>
      <%= link_to root_path(@poll) do %>
        <div id="decline">
          Back to Home
        </div>
      <% end %>

      <%= link_to poll_choices_path(poll_id: @poll.id, code: @code) do %>
        <div class="btn blue-btn" id="fb-connect-poll">
          Take Poll
        </div>
      <% end %>

    <% else %>
      <%= link_to root_path(@poll) do %>
        <div id="decline">
          Decline
        </div>
      <% end %>
      <%= link_to '/auth/facebook' do %>
        <div class="btn blue-btn" id="fb-connect-poll">
          Connect with Facebook to Vote
        </div>
      <% end %>
    <% end %>
  </div>
</div>
