<%= content_for :header do %>
	Take Poll
	<div class="main-logo text mobile"></div>
<% end %>
<div id="content-container" class="generic">
	<% if @tutorial %>
	<%= render partial: "tutorial" %>
	<% end %>
	<div id="choices">
		<div id="poll-take-header">
			<div id="poll-take-name"><%= @event.name %></div>
			<div id="poll-take-count"><%= @event.attending_count %> People Going</div>
		</div>
		<% @choices.each do |choice| %>
			<div class="choice">
				<%= image_tag choice.image_url, :class => "choice-pic" %>
				<div class="choice-info">
					<div class="choice-value"><%= choice.value %></div>
					<div class="choice-time"><%= choice.time || "7:00PM" %></div>
				</div>
				<div class="choice-vote-container <%= choice.yes ? 'yes' : '' %>">
					<%= link_to vote_path(choice.id, answer: "yes"), remote: true, :class => "upvote-link" do %>
						<%= image_tag 'upvotegrey.svg', :class => "choice-upvote choice-vote svg #{'chosen' if choice.yes}" %>
					<% end %>
					<%= link_to vote_path(choice.id, answer: "no"), remote: true, :class => "downvote-link" do %>
						<%= image_tag 'downvotegrey.svg', :class => "choice-downvote choice-vote svg #{'chosen' if choice.yes == false}" %>
					<% end %>
					<span class="choice-score"><%= choice.yes_count - choice.no_count %></span>
				</div>
			</div>
		<% end %>
	</div>

	<div id="poll-finished" class="hidden main-text">
		Thanks for answering! We’ll email you notifications as the poll updates.<br><br>
		In the mean time, you can download the app and start planning your own events for free!<br><br>
		<% if current_user %>
			<%= link_to results_path(id: @event.id, ongoing: !@event.finished) do %>
				<span class="view-results">View Results</span>

			<% end %><br><br>
			<%= link_to dashboard_path do %>
				<div class="btn blue-btn" id="go-dashboard">Go to Dashboard</div>
			<% end %>
		<% end %>
	</div>

	<div id="finish-poll-take" class="btn blue-btn pull-bottom-btn">
		Continue
	</div>
</div>





<script>
  $('img.svg').each(function(){
    var $img = $(this);
    var imgID = $img.attr('id');
    var imgClass = $img.attr('class');
    var imgURL = $img.attr('src');
    $.get(imgURL, function(data) {
        var $svg = $(data).find('svg');
        if(typeof imgID !== 'undefined') {
            $svg = $svg.attr('id', imgID);
        }
        if(typeof imgClass !== 'undefined') {
            $svg = $svg.attr('class', imgClass+' replaced-svg');
        }
        $svg = $svg.removeAttr('xmlns:a');
        $img.replaceWith($svg);
    }, 'xml');
  });
</script>
