<%= content_for :header do %>
  <div class="header-pic-container">
    <div id="header-right-pic" class="done submit-simple-event">Done</div>
  </div>
    <%= link_to dashboard_path do %>
    	<%= image_tag 'arrowleft.svg', id: 'header-left', :class => "mobile" %>
 		<% end %>
    <div class="text mobile whos-going">POLL INFO</div>
    <div class="desk-text-header whos-going">POLL INFO</div>
<% end %>




<div id="content-container" class="welcome-dashboard generic">
	<div id="poll-creator">
			<%= form_tag simple_events_path, id: 'simple-events-form' do |f| %>
				<%= hidden_field_tag :questions, nil, :class => "questions" %>
				<div class="question-info-container active">
					<%= text_field_tag :question_1,nil, placeholder: "Type question...", :class => "poll-field" %>
					<%= hidden_field_tag :date_choice_list_1, nil, :class => 'date-choices' %>
					<%= hidden_field_tag :text_choice_list_1, nil, :class => "text-choices" %>
				</div>
				<div id="add-another-question" class="poll-field blue">
					+ Add another question
				</div>

				<div id="datepicker"></div>
				<div id="text-choice-picker">
					<div class="text-choice">
						<div class="text-choice-num">1.</div>
						<%= text_field_tag :text_choice_1, nil, :class => "text-choice-input" %>
						<%= image_tag 'delete.svg', :class => "text-choice-icon cancel-choice" %>
					</div>
					<div class="text-choice">
						<div class="text-choice-num">2.</div>
						<%= text_field_tag :text_choice_2, nil, :class => "text-choice-input" %>
						<%= image_tag 'delete.svg', :class => "text-choice-icon cancel-choice" %>
					</div>
					<div class="text-choice placeholder">
						<div class="text-choice-num">3.</div>
						<%= text_field_tag :text_choice_3, nil, :class => "text-choice-input", disabled: true %>
						<%= image_tag 'delete.svg', :class => "text-choice-icon cancel-choice" %>
						<%= image_tag 'add.svg', :class => "text-choice-icon add-choice" %>
					</div>
				</div>
				<div class="type-container">
					<div class="type-header">Choose Type:</div>
					<div class="type">
						<%= image_tag 'custom.svg', :class => "type-pic text-type" %>
						<div class="type-label">Custom</div>
					</div>
					<div class="type">
						<%= image_tag 'date.svg', :class => "type-pic date-type" %>
						<div class="type-label">Date Picker</div>
					</div>
					<div class="bottom-btn-container fixed"> 
						<div class="btn red-btn" id="cancel-type-container">Cancel</div> 
					</div>
				</div>
			<% end %>
		</div>
		<div class="bottom-btn-container double fixed hidden" id="simple-event-btns">
			<div class="btn green-btn" id="confirm-simple-event">Ok</div> 
			<div class="btn red-btn" id="cancel-simple-event">Cancel</div> 
		</div>
</div>

