<%= content_for :header do %>
  <div class="header-pic-container">
  </div>
  <!-- Necessary to allow switching type on 'TAB' -->
  	<% if @browser.mobile? %>
	    <%= link_to dashboard_path do %>
	    	<%= image_tag 'arrowback.svg', id: 'header-left', :class => "mobile" %>
	 		<% end %>
 		<% end %>
    <div class="text mobile whos-going">POLL INFO</div>
    <div class="desk-text-header whos-going">POLL INFO</div>
<% end %>

<div id="content-container" class="simple-new-event generic">
		<div id="poll-creator">
				<%= form_tag simple_events_path, id: 'simple-events-form' do |f| %>
					<%= hidden_field_tag :questions, nil, :class => "questions" %>
					<div class="name-container">
						<%= text_field_tag :event_name ,nil, placeholder: "Name your poll...", :class => "poll-field" %>
					</div>
					
					<div class="question-info-container active">
						<%= text_field_tag :question_1,nil, placeholder: "Type question...", :class => "poll-field" %>
						<%= hidden_field_tag :date_choice_list_1, nil, :class => 'date-choices' %>
						<%= hidden_field_tag :text_choice_list_1, nil, :class => "text-choices" %>
					</div>
					<div id="add-another-question" class="poll-field blue">
						+ Add another question
					</div>
					<div class="date-picker-container">
						<div class="date-picker-header">Pick your dates:</div>
						<div class="picker-error hidden red">Please pick at least 2 dates.</div>
						<div id="datepicker"></div>
						<div id="datepicker-2"></div>
					</div>
					<div id="text-choice-picker">
						<div class="picker-error hidden red">Please fill out at least 2 options.</div>
						<div class="text-choice">
							<div class="text-choice-num">1.</div>
							<%= text_field_tag :text_choice_1, nil, :class => "text-choice-input", placeholder: "Type an option..." %>
							<%= image_tag 'delete.svg', :class => "text-choice-icon cancel-choice" %>
						</div>
						<div class="text-choice">
							<div class="text-choice-num">2.</div>
							<%= text_field_tag :text_choice_2, nil, :class => "text-choice-input", placeholder: "Type an option..." %>
							<%= image_tag 'delete.svg', :class => "text-choice-icon cancel-choice" %>
						</div>
						<div class="text-choice placeholder">
							<div class="text-choice-num">3.</div>
							<%= text_field_tag :text_choice_3, nil, :class => "text-choice-input", placeholder: "Add option..."%>
							<%= image_tag 'delete.svg', :class => "text-choice-icon cancel-choice" %>
							<%= image_tag 'add.svg', :class => "text-choice-icon add-choice" %>
						</div>
					</div>
					<div class="type-container hidden">
						<div class="type-header">Choose Type:</div>
						<div class="type">
							<%= image_tag 'custom.svg', :class => "type-pic text-type svg" %>
							<div class="type-label">Custom</div>
						</div>
						<div class="type">
							<%= image_tag 'date.svg', :class => "type-pic date-type svg " %>
							<div class="type-label">Date Picker</div>
						</div>
					</div>
				<% end %>
			</div>

		<div class="bottom-btn-container double fixed double-row" id="simple-event-btns">
			<div class="btn blue-btn submit-simple-event btn-bot">Done with poll</div> 
			<div class="btn blue btn-top" id="confirm-simple-event">+ Add a new question</div> 
		</div>
</div>

<script>
  $('img.svg').each(function(){
    var $img = $(this);
    var imgID = $img.attr('id');
    var imgClass = $img.attr('class');
    var imgURL = $img.attr('src');
    $.get(imgURL, function(data) {
        var $svg = $(data).find('svg');
        if(typeof imgID !== 'undefined') {
            $svg = $svg.attr('id', imgID);
        }
        if(typeof imgClass !== 'undefined') {
            $svg = $svg.attr('class', imgClass+' replaced-svg');
        }
        $svg = $svg.removeAttr('xmlns:a');
        $img.replaceWith($svg);
    }, 'xml');
  });
</script>
