<%= content_for :header do %>
	<%= link_to dashboard_path do %>
    <%= image_tag 'arrowleft.svg', id: 'header-left', :class => "mobile" %>
  <% end %>
    <div class="text mobile whos-going">Poll Results</div>
    <div class="desk-text-header whos-going">Poll Results</div>
<% end %>

<div class="generic simple-results" id="content-container">
		<div id="questions-container">
			<% count = 1 %>
			<% @questions.each do |question, choices| %>
				<div class="simple-choice side-margined">
					<% if choices.first.choice_type == "text" %>
						<div class="poll-field question-name">
							<div class="question-num no-mobile"><%= count %><% count += 1 %>.</div>
							<%= question || "Click to view Results" %>
							<%= image_tag 'customgrey.svg', :class => "type-pic text-type svg" %>
						</div>
					<% else %>
						<div class="poll-field question-name">
							<%= question || "Click to view Results" %>
							<% if choices.first.choice_type != nil %>
								<div class="question-num no-mobile"><%= count %><% count += 1 %>.</div>
								<%= image_tag 'dategrey.svg', :class => "type-pic date-type svg" %>
							<% end %>
						</div>
					<% end %>
					<div class="simple-question-results simple-voter">
							<div class="simple-results-header">
								<% choices.each_with_index do |choice , i| %>
									<div class='choice-header cell <%= "col-#{i}" %>'>
										<span class="shortened-value"><%= choice.result_value %></span>
										<span class="hidden full-value"><%= choice.value %></span>
									</div>
								<% end %>
							</div>
							<div class="simple-choice-body">
								<% @event.polls.each do |poll| %>
									<div class="cell poll-taker-name"><%= poll.user.name %></div>
									<% poll.choices_for(question).each_with_index do |choice, i| %>
										<div class="cell <%= "col-#{i}" %>">
											<% if choice.yes %>
												<%= image_tag 'checkgreen.svg', :class => "cell-check" %>
											<% end %>
										</div>
									<% end %>
									
								<% end %>
								<div class="cell poll-taker-name total">Total</div>
								<% @event.polls.last.choices_for(question).each_with_index do |choice, i| %>
									<div class="cell <%= "col-#{i}" %> total">
										<%= choice.yes_count %>
									</div>
								<% end %>
							</div>
					</div>
				</div>
			<% end %>
		</div>
</div>


<script>
	$(document).ready(function(){
		$('img.svg').each(function(){
	    var $img = $(this);
	    var imgID = $img.attr('id');
	    var imgClass = $img.attr('class');
	    var imgURL = $img.attr('src');
	    $.get(imgURL, function(data) {
	        var $svg = $(data).find('svg');
	        if(typeof imgID !== 'undefined') {
	            $svg = $svg.attr('id', imgID);
	        }
	        if(typeof imgClass !== 'undefined') {
	            $svg = $svg.attr('class', imgClass+' replaced-svg');
	        }
	        $svg = $svg.removeAttr('xmlns:a');
	        $img.replaceWith($svg);
	    }, 'xml');
	  });
	  $('.question-name').first().click()
	})
  
</script>
